<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Beginners</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div id="app">
      <div class="container my-5">
        <div class="row">
          <div class="col-md-6">
            <label>From</label>
            <select v-model="from" name="" id="" class="form-control">
              <option :value="curren.id" v-for="curren in formattedCurrencies">
                {{ curren.currencyName }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label>To</label>
            <select v-model="to" name="" id="" class="form-control">
              <option :value="cu.id"v-for="cu in formattedCurrencies">
                {{ cu.currencyName }}
              </option>
            </select>
          </div>
        </div>
        <!-- het row  -->
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <input v-model="amount" type="text" placeholder="Amount" class="form-control my-5">
            <div class="text-center">
              <button @click="convertCurrency()"class="btn btn-lg btn-primary">Convert</button>
            </div>
          </div>
        </div>
        <!-- het row -->
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-2 mt-5">{{ calculateResult }}</h1>
          </div>
        </div>
        <!-- het row  -->
      </div>
		</div>

		<footer id="footer">
			<!-- <p>copyright {{ date.getFullYear() }}</p> -->
			<p>copyright {{ date }}</p>
		</footer>

    <!-- thứ tự bên dưới rất quan trọng  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="app.js"></script>
	</body>
</html>
